<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Account Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/label_template.css' />
    <link rel='stylesheet' href='/stylesheets/mdi/css/materialdesignicons.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
  </head>
  <body class="header-fixed">

  	<!-- nav bar -->
    <% include partials/nav.ejs %>
    <!-- End of Navbar -->

    <!-- Main Content -->
  	<div class="page-body">

      <!-- side bar -->
      <%- include partials/sidebar %>
      <!-- End of Sidebar -->

      <!-- Right Box -->
      <div class="page-content-wrapper">
        <!-- Content -->
        <div class="page-content-wrapper-inner">
          <div class="content-viewport">
            <h3 class="mt-1 mb-4">Account settings</h3>
            <% if (messages.error) {%>
              <div class="alert alert-danger">
                <%= messages.error %>
              </div>
            <% } if (messages.success) { %>
              <div class="alert alert-success">
                <%= messages.success %>
              </div>
            <% } %>   
            <form class="bg-light p-4 rounded" method="post" action="account">
                <h5>Change password</h5>
                <div class="form-group w-50">
                    <input type="hidden" id="username" name="username" value="<%= uid %>">
                    <div class="form-label-group">
                        <label for="password" class="mt-2">Current password</label>
                        <input type="password" id="password" class="form-control" 
                            placeholder="Current password" required="required" 
                            name="password">
                    </div>
                    <div class="form-label-group mt-2">
                        <label for="password" class="mt-2">New password</label>
                        <input type="password" id="new_password" class="form-control" 
                            placeholder="New password" required="required" 
                            name="new_password" value="">
                        <label class="text-secondary">Must be at least 8 characters long</label>
                    </div>
                    <div class="form-label-group">
                        <label for="password">Confirm new password</label>
                        <input type="password" id="new_password_check" class="form-control" 
                            placeholder="New password" required="required" 
                            name="new_password_check" value="">
                        <label class="text-secondary">Enter new password again</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-danger mx-auto mt-4">Change password</button>
            </form>
          </div>
        </div>
        <!-- End of Content -->

        <!-- Footer -->
        <% include partials/footer.ejs %>
        <!-- End of Footer -->
      </div>
      <!-- End of Right Box -->

    </div>
    <!-- End of Main Content -->

    <!-- Additional Javascript -->
    <script src="/javascripts/label_template.js"></script>
  </body>
</html>
