body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a, a:visited {
  color: #007bff;
  border: none;
  outline: 0;
  text-decoration: none;
  transition: color .3s ease-in-out;
}

a:hover {
  color: #02264B;
  text-decoration: none;
}

.logo-mid {
  width: 120px;
}

.border-error {
  border: 2px solid #dc3545;
}

.border-prompt {
  border: 2px solid #007bff;
}

td.min {
  width: 1%;
  white-space: nowrap;
}

.topnav {
  overflow: hidden;
  color: #333;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav .title {
  float: left;
  text-align: center;
  padding: 14px 16px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 17px;
  border-bottom: solid 6px #ff4400;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  border-bottom: solid 6px #efb200;
}

.topnav a {
  color: black;
}
