<!-- nav bar -->
<nav class="t-header">
  <!-- LOGO -->
	<div class="t-header-brand-wrapper">
    <a href="/dashboard">
      <img class="logo" src="/images/logo_white.png" alt="DigiCourse Logo" title="DigiCourse" />
      <img class="logo-mini" src="/images/logo_white.png" alt="DigiCourse Logo"  title="DigiCourse" />
    </a>
  </div>
  <!-- Nav Bar -->
  <div class="t-header-content-wrapper">
    <div class="t-header-content">
      <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none"><i class="mdi mdi-menu"></i></button>
      <!-- Search Bar -->
      <form action="/search" class="t-header-search-box" method="post">
        <div class="input-group">
          <input type="text" class="form-control" name="searchBox" id="searchBox" 
              placeholder="Search for a module" autocomplete="off">
              
          <button class="btn btn-primary" type="submit"><i class="mdi mdi-arrow-right-thick"></i></button>
        </div>
      </form>
      <!-- Menu -->
      <ul class="nav ml-auto">
        <!-- registration / application -->
        <li class="nav-item dropdown">
          <a class="nav-link" title="Apply" href="#" id="applyDropdown" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-google-classroom mdi-1x"></i> 
            <span class="text-white" style="font-size: 14px;">Application</span>
          </a>
          <div class="dropdown-menu navbar-dropdown dropdown-menu-right" aria-labelledby="applyDropdown">
            <div class="dropdown-header">
              <h6 class="dropdown-title">Course Application</h6>
            </div>
            <div class="dropdown-body ml-1">
              <% if (accountType != 'Professor') {%>
              <div class="dropdown-list">
                <div class="content-wrapper">
                  <a href="/applicationRequest">Apply</a>
                </div>
              </div>
              <% } %>
              <div class="dropdown-list">
                <div class="content-wrapper">
                  <a href="/applicationStatus">Status</a>
                </div>
              </div>
            </div>
          </div>
        </li>
          <!-- logout -->
        <li class="nav-item">
          <a class="nav-link" href="/logout" id="menuLogout" title="Sign out">
            <i class="mdi mdi-logout mdi-1x"></i>
            <span class="text-white" style="font-size: 14px;">Sign out</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End of Navbar -->